{% extends 'base.html' %}
{% block navbar %}
    {% if user.is_anonymous %}
        {% include 'other/anonimous_navbar.html' %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
{% block content %}
    <style>
        .login-group {
            margin: 0 auto;
        }

        .title {
            margin-top: 50px;
            margin-bottom: 30px;
            text-align: center;
        }
    </style>
    <h1 class="title">Сброс пароля</h1>
    <div class="login-group col-lg-4 col-sm-10">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Сбросить пароль</button>
        </form>
    </div>
{% endblock %}