{% extends 'base.html' %}
{% block content %}
    <style>
    .content{
        margin: 0 auto;
    }
    h5 {
        color: red;
    }
    .card{
        margin-top: 60px;
    }
</style>
    <div class="col-6 content">
        {% for item in list %}
            <div class="card">
                <div class="card-header">
                    {% if item.created_at > item.finished_at %}
                    <div>
                        <h6 class="pizdec">Голосование закончилось</h6>
                    </div>
                {% else %}
                    <div>
                        <h6>Голосование активно</h6>
                    </div>
                {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ item.quiz }}</h5>
                    <p class="card-text">Ваш ответ: {{ item.answer }}</p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}






{#{% block content %}#}
{#    {% if request.user.is_authenticated %}#}
{#        <div>#}
{#            {% for item in list %}#}
{#                {% if item.created_at > item.finished_at %}#}
{#                    <div>#}
{#                        Голосование закончилось {{ item.quiz }} {{ item.answer }}#}
{#                    </div>#}
{#                {% else %}#}
{#                    <div>#}
{#                        {{ item.quiz }} {{ item.answer }}#}
{#                    </div>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        </div>#}
{#    {% endif %}#}
{#{% endblock %}#}
