{% extends 'base.html' %}
{% block content %}
    <style>
        .content {
            margin: 0 auto;
        }

        .card {
            margin-top: 20px;
        }

        .card-header p {
            font-weight: bold;
            margin: 0;
        }

        .card-footer {
            text-align: right;
        }
    </style>
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 content">
        {% for item in news %}
            <div class="card">
                <div class="card-header">
                    <p>{{ item.title }}</p>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ item.text }} </p>
                </div>
                <div class="card-footer">{{ item.created_at }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}